<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016.
  ~ Created by David Mugisha during the DTY Program
  ~ Last Edited on 19/01/16 18:31
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.volley"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application />

</manifest>
